<div class="container">
    <div class="row">
        <div class="login-screen-section">
            <div class="login-screen">
                <div class="title-section d-flex">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <h2>Login</h2>
                </div>
                <div class="login-details-section d-flex">
                <form class="row">
                    <div class="col-12 position-relative"><input type="text" class="mail-id" placeholder="Email*"><i class="fa fa-user admin" aria-hidden="true"></i></div>
                    <div class="col-12 position-relative"><input type="password" class="mail-id" placeholder="Password*"><i class="fa fa-eye admin" aria-hidden="true"></i></div>
                    <div class="col-12 d-flex justify-content-between forgot-password"><div class="remember d-flex align-items-center"><input type="checkbox"><span class="remember-text mt-1">Remember me</span></div><label>Forgot password?</label></div>
                    <div class="col-12"><button class="book-table">LOGIN</button></div>
                    <div class="col-12"><div class="choice-section"><span>OR</span></div></div>
                    <div class="col-12"><div class="facebook-login"><img src="../../../assets/img/facebooklogin.png"></div></div>
                </form>
                <div class="row sign-up-choice">
                <div class="col-12 text-center">
                    <span>Don’t have an account ?<label> Sign up</label></span>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>